<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IVs Don't Matter</title>
	<link rel="stylesheet" href="./styles.css" />
</head>
<body>
	<h1>IVs Don't Matter</h1>
	<div id="stat-explorer">
		<h2>
			<span>Pokemon</span>
			<button
				class="plus"
				@click="addPokemon"
			>
				+
			</button>
		</h2>
		<div>
			<div class="pokemon-list">
				
				<div
					v-for="(pokemon, index) in pokemonList"
					class="pokemon-graph"
				>
					<h3>
						<span>{{pokemon.name}}</span>
						<span class="hint">(CP: {{calculateCP(pokemon)}})</span>
						<label class="controls-checkbox hint">
							<span>EXPAND:</span>
							<input
								type="checkbox"
								v-model="pokemon.expanded"
							/>
						</label>
						<button
							class="minus"
							@click="removePokemon(index)"
						>
							x
						</button>
					</h3>
					<div class="stat-list">
						<stat-bar
							v-for="(stat, propertyName, index) in pokemon.ivs"
							:key="propertyName"
							:label="propertyName"
							:stat-name="propertyName"
							:pokemon="pokemon"
						></stat-bar>
					</div>
					<div
						v-if="pokemon.expanded"
						class="controls"
					>
						<div class="inputtydoo">
							<label>
								<span>
									<span>Pokemon:</span>
								</span>
								<select
									v-model="pokemon.name"
								>
									<option
										v-for="(pokemon, pokemonName, index) in pokemonMap"
										:key="pokemonName"
									>{{pokemonName}}</option>
								</select>
							</label>
						</div>
						<div class="inputtydoo">
							<label>
								<span>
									<span>Level: {{pokemon.level}}</span>
									<span class="hint">(CPM: {{lookupCPMFromLevel(pokemon.level)}})</span>
								</span>
								<input
									type="range"
									min="1"
									max="51"
									step="0.5"
									v-model="pokemon.level"
								/>
							</label>
						</div>
						<div>
							<div>
								<span>Common levels:</span>
								<span class="hint"> (weather boost:</span>
								<input
									type="checkbox"
									v-model="isWeatherBoosted"
								/>
								<span class="hint">)</span>
							</div>
							<button
								v-for="(value, propertyName, index) in presetLevels"
								@click="pokemon.level=value"
								:key="propertyName"
								class="preset-button"
							>{{propertyName}}</button>
						</div>
						<div>
							<input
								type="range"
								min="1"
								max="15"
								step="1"
								v-model.number="pokemon.ivs.attack"
							/>
							<span class="iv-label">
								<span>Attack IV: {{pokemon.ivs.attack}}</span>
							</span>
						</div>
						<div>
							<input
								type="range"
								min="1"
								max="15"
								step="1"
								v-model.number="pokemon.ivs.defense"
							/>
							<span class="iv-label">
								<span>Defense IV: {{pokemon.ivs.defense}}</span>
							</span>
						</div>
						<div>
							<input
								type="range"
								min="1"
								max="15"
								step="1"
								v-model.number="pokemon.ivs.stamina"
							/>
							<span class="iv-label">
								<span>Stamina IV: {{pokemon.ivs.stamina}}</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/x-template" id="stat-bar">
		<div
			class="stat-bar"
		>
			<span class="stat-bar-label">{{label}}</span>
			<span
				class="stat-bar-progress"
				:style="{
					width: (((baseStat * cpm) / scale) * 100) + '%'
				}"
			></span>
			<span
				class="stat-bar-progress-iv"
				:style="{
					width: (((iv * cpm) / scale) * 100) + '%'
				}"
			></span>
			<span
				class="stat-bar-progress-iv-max"
				:style="{
					width: ((((15 - iv) * cpm) / scale) * 100) + '%'
				}"
			></span>
		</div>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="./data.js"></script>
	<script src="./app.js"></script>
</body>
</html>
