<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IVs Don't Matter</title>
	<link rel="stylesheet" href="./styles.css" />
</head>
<body>
	<h1>IVs Don't Matter</h1>
	<div id="stat-explorer">
		<h2>
			<span>Pokemon</span>
			<button
				class="plus"
				@click="addPokemon"
			>
				+
			</button>
			<label class="controls-checkbox hint">
				<span>[Stat Grid:</span>
				<input
					type="checkbox"
					v-model="statBarGridOn"
				/>
				<span>]</span>
			</label>
		</h2>
		<div>
			<div class="pokemon-list">
				<div
					v-for="(pokemon, index) in pokemonList"
					class="pokemon-graph"
				>
					<h3>
						<span>{{pokemon.name}}</span>
						<span class="hint">(CP: {{calculateCP(pokemon)}})</span>
						<label class="controls-checkbox hint">
							<span>[Expand:</span>
							<input
								type="checkbox"
								v-model="pokemon.expanded"
							/>
							<span>]</span>
						</label>
						<button
							class="minus"
							@click="removePokemon(index)"
						>
							x
						</button>
					</h3>
					<div>
						<stat-bar
							v-for="(stat, propertyName, index) in pokemon.ivs"
							:key="propertyName"
							:label="propertyName"
							:stat-name="propertyName"
							:pokemon="pokemon"
							:stat-bar-grid-on="statBarGridOn"
						></stat-bar>
					</div>
					<div
						v-if="pokemon.expanded"
						class="controls"
					>
						<div class="container_section">
							<div>
								<span>Pokémon:</span>
								<select
									v-model="pokemon.name"
								>
									<option
										v-for="(pokemon, pokemonName, index) in pokemonMap"
										:key="pokemonName"
									>{{pokemonName}}</option>
								</select>
								<label class="controls-checkbox hint">
									<span>[Shadow:</span>
									<input
										type="checkbox"
										v-model="pokemon.shadow"
									/>
									<span>]</span>
								</label>
							</div>
						</div>
						<div class="container_section">
							<div class="inputtydoo">
								<label>
									<span>
										<span>Level: {{pokemon.level}}</span>
										<span class="hint">(CPM: {{lookupCPMFromLevel(pokemon.level)}})</span>
									</span>
									<input
										type="range"
										min="1"
										max="51"
										step="0.5"
										v-model="pokemon.level"
									/>
								</label>
							</div>
							<div>
								<div>
									<span>Common levels:</span>
									<label class="controls-checkbox hint">
										<span> [Weather Boost:</span>
										<input
											type="checkbox"
											v-model="isWeatherBoosted"
										/>
										<span class="hint">]</span>
									</label>
								</div>
								<button
									v-for="(value, propertyName, index) in presetLevels"
									@click="pokemon.level=value"
									:key="propertyName"
									class="preset-button"
								>{{propertyName}}</button>
							</div>
						</div>
						<div class="container_section">
							<label>
								IVs:
							</label>
							<div
							v-for="(iv, key, index) in pokemon.ivs"
							>
								<svg
									viewBox="0.25 -0.75 21 1.75"
									xmlns="http://www.w3.org/2000/svg"
									class="iv_bar_width"
								>
									<defs>
										<g id="iv_slider_base">
											<line name="IV slider"
												class="iv_input_gray"
												x1="1"
												y1="0"
												x2="15"
												y2="0"
												stroke-linecap="round"
											/>
										</g>
										<g id="iv_input_dividers">
											<line name="divider"
												class="iv_input_divider"
												x1="5.55"
												y1="-0.625"
												x2="5.55"
												y2="0.625"
											/>
											<line name="divider"
												class="iv_input_divider"
												x1="10.55"
												y1="-0.625"
												x2="10.55"
												y2="0.625"
											/>
										</g>
									</defs>
									<text
										class="iv_input_label"
										x="16.25"
										y="0.32"
									>
										{{key.substring(0,3)}}: {{iv}}
									</text>
									<g id="iv_slider_base">
										<line name="IV slider"
											class="iv_input_white_bg"
											x1="1"
											y1="0"
											x2="15"
											y2="0"
											stroke-linecap="round"
										/>
									</g>
								<use href="#iv_slider_base"/>
									<g name="iv input bar"
										v-if="iv"
									>
										<line name="orange iv bar"
											:class="{
												iv_input_orange: iv < 15,
												iv_input_red: iv >= 15
											}"
											x1="1"
											y1="0"
											:x2="iv"
											y2="0"
											stroke-linecap="round"
										/>
									</g>
									<use href="#iv_input_dividers"/>
								</svg>
								<input
									type="range"
									style="width: 48%;"
									min="0"
									max="15"
									step="1"
									v-model.number="pokemon.ivs[key]"
								/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/x-template" id="stat-bar">
		
		<div
			class="stat-bar"
		>
			<svg
			:viewBox="
				'0 -1 ' + scale + ' ' + (ivBarHeight + 2)
			"
			xmlns="http://www.w3.org/2000/svg"	
			>
			<defs>
				<g id="iv_display_divider">
					<line name="50 mark line"
						class="stats_full_range_line"
						x1="-50"
						y1="0"
						x2="-50"
						:y2="
							ivBarHeight
						"
						stroke-width="0.5"
						stroke-linecap="butt"
						opacity=".25"
						stroke-dasharray="1,0.5"
					/>
					<line name="100 mark line"
						class="stats_full_range_line"
						x1="0"
						y1="0"
						x2="0"
						:y2="
							ivBarHeight * 1
						"
						stroke-width="0.5"
						stroke-linecap="square"
						opacity=".75"
					/>
				</g>
			</defs>
				<g name="stat bar range">
					<rect name="max gray bar"
						class="stats_full_range"
						:width="
							scale
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
				</g>
				<g name="shadow bonus (attack)"
					v-if="statName === 'attack' && pokemon.shadow"
				>
					<rect name="pink bar (shadow bonus)"
						class="stats_iv_max_main"
						:width="
							(((baseStat + 15) * cpm) * 1.2)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="red bar (shadow bonus)"
						class="stats_iv_main"
						:width="
							(((baseStat + iv) * cpm) * 1.2)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="blue bar (shadow bonus)"
						class="stats_base_main"
						:width="
							(((baseStat) * cpm) * 1.2)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
				</g>
				<g name="total stat bar">
					<rect name="pink bar"
						:class="overlapOrMainPinkClasses"
						:width="
							((baseStat + 15) * cpm)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="red bar"
						:class="overlapOrMainRedClasses"
						:width="
							((baseStat + iv) * cpm)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="blue bar"
					:class="overlapOrMainBlueClasses"
					:width="
							((baseStat) * cpm)
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
				</g>
				<g name="shadow penalty (defense)"
					v-if="statName === 'defense' && pokemon.shadow"
				>
					<rect name="pink bar (shadow penalty)"
						class="stats_iv_max_main"
						:width="
							(((baseStat + 15) * cpm) * (5/6))
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="red bar (shadow penalty)"
						class="stats_iv_main"
						:width="
							(((baseStat + iv) * cpm) * (5/6))
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
					<rect name="blue bar (shadow penalty)"
						class="stats_base_main"
						:width="
							(((baseStat) * cpm) * (5/6))
						"
						:height="
							ivBarHeight
						"
						x="0"
						y="0"
					/>
				</g>
				<g v-if="statBarGridOn">
					<use href="#iv_display_divider"
						x="100"
					/>
					<use href="#iv_display_divider"
						x="200"
					/>
					<use href="#iv_display_divider"
						x="300"
					/>
					<use href="#iv_display_divider"
						x="400"
						/>
					</g>
					<line name="iv red line marker"
						class="stats_iv_main_line"
						:x1="
						currentStatDisplay
						"
						y1="-1"
						:x2="
							currentStatDisplay
						"
						:y2="
							ivBarHeight + 3
						"
						stroke-width="0.5"
						stroke-linecap="square"
					/>
					<text
						class="current_stat_label"
						x="1.5"
						y="8"
						stroke="#36f"
						stroke-width="1"
					>
					{{currentStatDisplay}}
					</text>
					<text
						class="current_stat_label"
						x="1.5"
						y="8"
						fill="#fff"
					>
				{{currentStatDisplay}}
				</text>
			</svg>
		</div>
	</script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<script src="./data.js"></script>
	<script src="./app.js"></script>
</body>
</html>
