html, body {
	height: 100%;
}

* {
	font-family: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0 auto;
}

body {
	font-family: sans-serif;
	margin: 0;
}

.container {
	max-width: 800px;
	padding: 16px;
}

ul, p, .pretend-p {
	padding-bottom: 8px;
	padding-top: 4px;
}

.pretend-p {
	display: block;
}

ul {
	margin-left: 24px;
}

a {
	color: #aaa;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0.5em 0 0.1em 0;
}

h1 {
	font-weight: 900;
}

.flat {
	padding: 0;
}

.secret-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}
.real-button {
	padding: 3px 5px;
	border-radius: 0.5rem;
	cursor: pointer;
	border-width: 1px;
	border-color: #aaa;
	border-style: solid;
}

.iv_input_label {
	font-size: 1.25px;
}
.current_stat_label {
	font-size: 9px;
}

.iv_input_gray {
	stroke: #ddd;
	stroke-width: 1;
}
.iv_input_white_bg {
	stroke: #fff;
	stroke-width: 1.25;
}
.iv_input_orange {
	stroke: #e92;
	stroke-width: 1;
}
.iv_input_orange_fill {
	fill: #e92;
}
.iv_input_red {
	stroke: #c44;
	stroke-width: 1;
}
.iv_input_divider {
	stroke: #fff;
	stroke-width: 0.1;
}
.stats_base_ghost {
	fill: #bce;
}
.stats_iv_ghost {
	fill: #dbb;
}
.stats_iv_max_ghost {
	fill: #edd;
}
.stats_base_main {
	fill: #36f;
}
.stats_iv_main {
	fill: #d00;
}
.stats_iv_main_line {
	stroke: #d00;
}
.stats_iv_max_main {
	fill: #fbb;
}
.stats_base_overlap {
	fill: #36f;
}
.stats_iv_overlap {
	fill: #46c;
}
.stats_iv_max_overlap {
	fill: #57f;
}
.stats_full_range {
	fill: #eee;
}
.stats_full_range_line {
	stroke: #fff;
}
.st0 {
	fill: #fff;
}

.hint {
	color: #999;
	font-size: 0.8em;
}

.title-flex {
	line-height: 0.8em;
}

.blocky {
	display: inline-block;
}

.newline-blocky {
	display: block;
}

.minihint {
	color: #999;
	font-size: 0.5em;
}

.iv-label {
	width: 40%;
}

.stat-bar {
	background-color: #eee;
	font-size: 0;
	margin-bottom: 2px;
}
.stat-bar-progress,
.stat-bar-progress-iv,
.stat-bar-progress-iv-max {
	display: inline-block;
	height: 16px;
	background-color: #47f;
}
.stat-bar-progress-iv {
	background-color: #d00;
}
.stat-bar-progress-iv-max {
	background-color: #fcc;
}

.container_section {
	background-color: #ddd;
	padding: 8px 12px;
	margin: 6px 0px;
}
.container_section_inner {
	background-color: #fff;
	padding: 8px 12px;
	margin: 6px;
}

.inputtydoo {
	padding-bottom: 0px;
}

.inputtydoo label > input {
	display: block;
	width: 100%;
}

.controls-checkbox {
	padding-left: 8px;
}

.common_levels_button_gray {
	fill: #666;
}
.common_levels_button_noselect {
	fill: #aaa;
}
.common_levels_button_select {
	fill: #259;
}
.common_levels_button_shadow {
	fill: #64a;
}
.shadow-text {
	color: #64a;
}
.buddy-text {
	color: #b44;
}
.common_levels_button_buddy {
	fill: #b44;
	color: #b44;
}
.common_levels_button_shiny {
	fill: #db0;
	color: #db0;
}
.right_just {
	width: 20%;
	display: inline-block;
	justify-content: right; 
 }

 .icon_lines-fat {
	stroke: #fff;
	stroke-width: 5;
	fill: none;
}

.plus,
.minus {
	/* margin-left: 4px; */
	padding: 2px 4px;
	line-height: 0.75em;
	font-size: inherit;
	background-color: rgb(88, 173, 88);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.button-no {
	fill: rgb(206, 40, 40);
}
.button-yes {
	fill: rgb(20, 206, 156);
}

.minus {
	color: #fff;
	background-color: rgb(206, 40, 40);
}


.stat-explorer-pokemon {
	position: relative;
}

.stat-explorer-pokemon .minus {
	position: absolute;
	right: 0;
}

.species_select-image, .species_select-info {
	display: inline-block;
	vertical-align: middle;
}

.species_select-image {
	width: 30%
}

.species_select-info {
	width: 68%
}

.one_third, .two_thirds, .one_fifth, .one_tenth {
	vertical-align: top;
	display: inline-block;
}
.one_tenth{
	width: 9%;
}
.one_fifth{
	width: 19%;
}
.one_third{
	width: 32%;
}
.two_thirds{
	width: 65%;
}

.iv_bar_width{
	width: 48%;
}

.bar-holder {
	position: relative;
}
.bar-image{
	position: absolute;
	top: -20px;
	left: -5px;
	width: 18%;
}
.making-room-for-x {
	padding-right: 1.5em;
}
.making-room-for-image {
	padding-left: 18%;
}
.pokemon-image-display {
	max-width: 100%;
	height: auto;
}
.center {
	text-align: center;
}

.modal-showing {
	position: relative;
	overflow: hidden;
	min-height: 100%;
	max-height: 100%;
}
.modal-brackground-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, 0.5);
	max-height: 100%;
}
.modal-contents {
	background-color: #fff;
	padding: 32px;
	max-height: 100%;
	overflow-y: auto;
	box-shadow: 0 2px 16px rgba(0,0,0, 0.75);
	border-radius: 16px;
}

@media (min-width: 480px) {
	.container {
		padding: 24px;
	}

	.bar-image{
		position: absolute;
		width: 16%;
	}
	.making-room-for-image {
		padding-left: 16%;
	}
}
@media (min-width: 640px) {
	.container {
		padding: 32px;
	}
	.bar-image{
		position: absolute;
		width: 14%;
	}
	.making-room-for-image {
		padding-left: 14%;
	}
}


