* {
	font-family: inherit;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 32px;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0.5em 0;
}

h1 {
	font-weight: 900;
}

.stat-bar {
	background-color: #eee;
	font-size: 0;
	margin-bottom: 6px;
}
.stat-bar-progress,
.stat-bar-progress-iv,
.stat-bar-progress-iv-max {
	display: inline-block;
	height: 16px;
	background-color: #47f;
}
.stat-bar-progress-iv {
	background-color: #d00;
}
.stat-bar-progress-iv-max {
	background-color: #fcc;
}

.inputtydoo {
	padding-bottom: 16px;
}

.inputtydoo label > span,
.inputtydoo label > input {
	display: block;
	width: 100%;
}

.preset-button {
	background-color: #9bf;
	padding: 6px;
	border-color: #47f;
	border-width: 3px;
	border-style: solid;
	border-radius: 8px;
	margin: 2px;
	cursor: pointer;
	width: 45%;
}
@media (min-width: 480px) {
	.preset-button {
		width: 30%;
	}
}
@media (min-width: 640px) {
	.preset-button {
		width: 15%;
	}
}


